<!DOCTYPE html>
<html lang="en">
<head>
    <style type="text/css"></style>
    <meta charset="UTF-8">
    <title>Home</title>
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSC2Noe5RBsIKc4SpkhhLBX0mcylgzaCaUE9Q&usqp=CAU">
    <h1>welcom dear customer ,hear you can have something cold which will sarse7 your hurt</h1>
</head>
<body>

<img src = "https://images.maariv.co.il/image/upload/f_auto,fl_lossy/c_fill,g_faces:center,h_533,w_758/643720">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBSOU2ApCjUv2SEMWRcUxo3nLI9FgdElbayafgU5REMFJs1vQSXuJgMpZt46oYhBbJEN8&usqp=CAU">
<a href="/hello">go to home page</a>
</body>
</html>