<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <h2>our products :B-BOWL  B-CHILLL  B-YOGURT  B-BOOST  B-FREEZE  B-FUN  B-KIDS  B-ICE</h2>
    <h2>PRICES :SMALL CUP-7.49$   MEDIOM CUP-9$   BIG CUP-12$ </h2>
    <h2>NOTE:IF YOU WANNA ADD EXTRA TAPIOQA IT COSTS 3$</h2>
<img src = "https://images.maariv.co.il/image/upload/f_auto,fl_lossy/c_fill,g_faces:center,h_533,w_758/643720">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBSOU2ApCjUv2SEMWRcUxo3nLI9FgdElbayafgU5REMFJs1vQSXuJgMpZt46oYhBbJEN8&usqp=CAU">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRxczYAkwcBIl5h8jw0Ja0mCsrV7JsYDDayA&usqp=CAU">
<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXqhLXPQz_VB6na0Uz8gEglLK7jQy5TuJMZscF6xygq7dXCyh_XMLwZtWEa6ADTmEk6vo&usqp=CAU">
<a href="file:///home/student/Documents/GitHub/Flask-Routing-Lab23/Flask-Routing-Lab/templates/product.html">BACK TO THE MEIN MENU</a>
<a href="/hello">go to home page</a>
</body>
</html>
