<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
    <script type="text/javascript" src="./static/js/script.js"></script>
</head>
<body>
    <h2>our products :B-BOWL  B-CHILLL  B-YOGURT  B-BOOST  B-FREEZE  B-FUN  B-KIDS  B-ICE</h2>
    <h2>PRICES :SMALL CUP-7.49$   MEDIOM CUP-9$   BIG CUP-12$ </h2>
    <h2>NOTE:IF YOU WANNA ADD EXTRA TAPIOQA IT COSTS 3$</h2>
<center>  
    <a href="/cart">
<img src = "https://images.maariv.co.il/image/upload/f_auto,fl_lossy/c_fill,g_faces:center,h_533,w_758/643720" width="333">

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBSOU2ApCjUv2SEMWRcUxo3nLI9FgdElbayafgU5REMFJs1vQSXuJgMpZt46oYhBbJEN8&usqp=CAU" width="333">

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRxczYAkwcBIl5h8jw0Ja0mCsrV7JsYDDayA&usqp=CAU" width="333">

<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRXqhLXPQz_VB6na0Uz8gEglLK7jQy5TuJMZscF6xygq7dXCyh_XMLwZtWEa6ADTmEk6vo&usqp=CAU" width="333">
</a>
<br>
<button onclick="anything()">"GO TO CART"</button>
<a href="/">BACK TO THE MEIN MENU</a>

</center>  

</body>
</html>
